h1 {
    color: blue;
  }
  .card {
    margin-top: 20px;
    margin: 20px auto;
  }
  .time {
    color: grey;
    padding: 0;
    margin-left: 5pt;
  }
  #current-conditions {
    color: black;
    font-size: 15pt;
    padding: 0;
    margin-left: 5pt;
    margin-bottom: 0;
  }
  
  .conditions {
    text-align: right;
    margin-right: 15px;
    margin-top: 30px;
    font-size: 11pt;
  }
  
  button {
    margin: 10;
    padding: 0;
  }
  .sun {
    font-size: 30pt;
  }
  
  .float-left {
    text-align: left;
    padding-top: 0;
    margin-top: 0;
    font-size: 20pt;
  }
  .units {
    font-size: 12pt;
    position: relative;
    top: -15px;
  }

  .tepreature-unit{
    font-size: 12pt;
    top: -15px;
    text-decoration: none;
  }
  .temperature {
    font-size: 35pt;
    padding: 0 5pt;
    margin-left: 5pt;
    margin-left: 5pt;
  }
  #city {
    font-size: 30pt;
    margin-left: 5px;
    color: black;
    margin-top: 5pt;
    padding: 3pt;
  }

  #GitHub_link {
    font-size: 10pt;
    width: 100%;
   margin-left: 25%;
  }
  
  .active {
    color: black;
    cursor: default;  
  }

  .active:hover{
    text-decoration: none;
    color: black;
}
img{
    
    height: 40pt; 
    width: 40pt; 
}
.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #000;
  }
  
.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
  }
  
  .weather-forecast-temperature-min {
    opacity: 0.5;
  }
  
  .weather-forecast-temperatures {
    font-size: 13px;
  }